.poem {
	direction: ltr;
	scroll-snap-align: center;
}

.container {
	direction: rtl;
	scroll-snap-type: y mandatory;
	height: calc(100vh - 3.5rem);
}

@media (min-width: 1024px) {
	.container {
		max-width: 50%;
	}

	.poem {
		direction: ltr;
		scroll-snap-align: center;
	}
}

.button {
	scroll-snap-align: center;
	padding: 0rem 1rem 0rem 1rem;
	margin: 2rem 0rem 2rem 0rem
}